.container img{
width: 100%;
}

.container{
gap: 55px;
    text-align: center;
    display: grid;
column-span: 2;
  grid-template-columns: 2fr 2fr 10fr;

    color: white;

}

.React img{
    width: 70px;
}
.Angular img{
    width: 50px;
}
.typeScript img{
    width: 50px;
}
.trais{
    align-items: center;
    height: 1px;
 background-color: cyan;
    width: 400px;
}

.django{
    width: 50px;
}


@media screen and (max-width: 600px ) {

.container{

    width: 20px;
    padding: -20px;

}
    .responsive{
        overflow: hidden;
    }

}
