.container img{
width: 100%;
}

.container{
gap: 55px;
    text-align: center;
    display: flex;

    justify-content: start;

    color: white;

}

.React img{
    width: 70px;
}
.Angular img{
    width: 50px;
}
.typeScript img{
    width: 50px;
}
.trais{
    align-items: center;
    height: 1px;
 background-color: cyan;
    width: 400px;
}

.django{
    width: 50px;
}


@media screen and (max-width: 600px ) {

.t{

}

}
